*{padding:0px;margin:0px;}
body{
   margin:0px;
   font-size:9pt;
   font-family:ו;
   background: #eaeaea;
}
#on_status{
   font-weight:bold;
   height:28px;
   padding-top:4px;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
   color:#FFFFFF;
   background:#ebebeb url("../10/images/shortcut_bg.png") repeat-x;
}

#on_status a{
}
#on_status a.general{
   color:#FFFFFF;
   text-decoration: underline;
}

#on_status_ul{display:none;width:auto;font-weight:normal;border-top:0;border-left: #036 1px solid;border-right: #036 1px solid;border-bottom:#036 1px solid;position:absolute;padding:0px;background:#E7F1F8;}
#on_status_ul li {
   margin: 0 0 0 5px;
   padding: 0;
   display: block;
   list-style-type: none;
}

#on_status_1, .on_status_1{padding-left:20px;background:url("/images/org/U01.png") no-repeat;line-height:16px;}
#on_status_2, .on_status_2{padding-left:20px;background:url("/images/org/U02.png") no-repeat;line-height:16px;}
#on_status_3, .on_status_3{padding-left:20px;background:url("/images/org/U03.png") no-repeat;line-height:16px;}

#my_status{
   width:170px;
   color:#8896A0;
   border:1px #FFFFFF solid;
}
#my_status:hover{
   color:#383838;
}
#tabs{
   width:100%;
}

.search{
   padding-left:26px;
   height:30px;
   background:#eaeaea url('../10/images/search_bg.png') left 0px no-repeat;
   border-bottom:1px #a8a8a8 solid;
}
.search .search-body{
   padding-right:26px;
   background:transparent url('../10/images/search_bg.png') right -60px no-repeat;
   position:relative;
}
.search .search-body .search-input{
   background:transparent url('../10/images/search_bg.png') left -30px repeat-x;
}
.search .search-body .search-input input{
   width:100%;
   height:18px;
   margin-top:7px;
   border:0px;
   background:transparent;
   padding-left:0px;
}
.search .search-clear{
   position:absolute;
   top:0px;
   right:10px;
   width:16px;
   height:30px;
   background:transparent url('../10/images/search_bg.png') right -90px no-repeat;
   cursor:pointer;
}

#nav_menu {
   width:104%;
   height:32px;
   font-size:14px;
   background: #0169b2;
   margin:2px;
}
#nav_menu li {
   width:24%;
   float:left;
   display: inline-block;
   list-style-type: none;
}

#nav_menu a{
   _width:100%;
   border-right:1px #fff solid;
   color:#fff;
   text-decoration: none;
   display:block;
   text-align:center;
   line-height:32px;
}
#nav_menu a span{
   display:block;
}
#menu_4{
   border-right:0px;
}
#menu_4 span{
}
#nav_menu a:hover span, #nav_menu a:link.active span, #nav_menu a:visited.active span{
   color: #393939;
   background: #eaeaea;
}

#expand_link{
   position:absolute;
   top:5px;
   right:35px;
   cursor:pointer;
}
.expand_link{
}

.sub_tabs{
   width:100%;
   height:30px;
   background:#eaeaea;
   position:relative;
   border-bottom:1px #fff solid;
}
.hide{
   height:0px;
}
.sub_tabs ul {
   width:100%;
   height:29px;
   overflow:hidden;
   border-bottom:1px #ccc solid;
   padding-left:3px;
}

.sub_tabs li {
   display: inline-block;
   *display: inline;
   list-style-type: none;
   margin-top: 2px;
}

.sub_tabs a:link, .sub_tabs a:visited{
   float:left;
	overflow:hidden;
	text-decoration: none !important;
   padding-left:5px;
   margin:0px 1px;
}
.sub_tabs a:link span, .sub_tabs a:visited span{
   float:left;
   cursor:pointer;
	padding: 5px 9px 5px 4px;
}
.sub_tabs .dropdown-containter{
	padding-right:5px !important;
}
.sub_tabs a.active, .sub_tabs a:hover,
.sub_tabs a:link.active, .sub_tabs a:hover.active, .sub_tabs a:active.active, .sub_tabs a:visited.active
{
	color:#fff;
   background: #5b7fcb;
}
.sub_tabs a.active span, .sub_tabs a:hover span,
.sub_tabs a:link.active span, .sub_tabs a:hover span, .sub_tabs a:active.active span, .sub_tabs a:visited.active span
{
   background: #5b7fcb;
}
.sub_tabs a:link span span.dropdown, .sub_tabs a:visited span span.dropdown{
   float:none;
   padding:0px !important;
   width:16px;
   height:12px;
   display:inline-block;
   background: url('images/sub_module_dropdown.png') center 2px no-repeat !important;
}
.sub_tabs a:active span span.dropdown, .sub_tabs a:hover span span.dropdown,
.sub_tabs a:link.active span span.dropdown, .sub_tabs a:hover span span.dropdown, .sub_tabs a:active.active span span.dropdown, .sub_tabs a:visited.active span span.dropdown{
   background: url('images/sub_module_dropdown.png') center -28px no-repeat !important;
}

.sub_menu{display:none;width:100px;border:#cccccc 1px solid;position:absolute;z-index:10001;background:#FFFFFF;}
.sub_menu a{display:block;line-height:20px;padding:3px 0 0 16px;width:100%;color:#393939;}
.sub_menu a:hover{background-color:#c4de83;width:auto;}
.sub_menu a.active{
   background:url('../10/images/dropdown_menu_checked.png') #c4de83 left center no-repeat;
}

.sub_tabs #menu_refresh,
.sub_tabs #org_refresh,
.sub_tabs #sms_refresh{
   width:16px;
   height:16px;
   display:block;
   position:absolute;
   top:5px;
   right:10px;
   cursor:pointer;
   background:url('../10/images/refresh.png') center 0px;
   padding: 0;
}
.sub_tabs #menu_refresh:hover,
.sub_tabs #org_refresh:hover,
.sub_tabs #sms_refresh:hover{
   background:url('../10/images/refresh.png') center -16px;
}

#body{
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
   width:100%;
}
#shortcut_ref{
   position:absolute;
   top:12px;
   right:10px;
   background:none;
}
#bottom{
   display:none;
}